[submodule "lib/sqlite_orm"]
	path = lib/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "lib/xtime_cpp"]
	path = lib/xtime_cpp
	url = https://github.com/NewYaroslav/xtime_cpp.git
[submodule "lib/ImGuiColorTextEdit"]
	path = lib/ImGuiColorTextEdit
	url = https://github.com/NewYaroslav/ImGuiColorTextEdit.git
[submodule "lib/ztime-cpp"]
	path = lib/ztime-cpp
	url = https://github.com/NewYaroslav/ztime-cpp.git
[submodule "lib/siphash-hpp"]
	path = lib/siphash-hpp
	url = https://github.com/NewYaroslav/siphash-hpp.git
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
